body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  position: relative;
}

.mark {
  position: absolute;
  top: 21%;
  left: 65%;
  font-size: 23px;
}
.mark > button {
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.content-section {
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  width: 490px;
  padding: 12px;
  box-shadow: 0px 0px 10px black;
}
.border {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 14px;
}
.number-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.number-section button {
  width: 38px;
  height: 38px;
  font-weight: 700;
  border-radius: 50%;
  font-size: 16px;
}
.number-section .active {
  background-color: #7fe0ff;
}
.message-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 47px 0px;
  text-align: center;
}
.button-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button-section button {
  width: 26%;
  border-radius: 14px;
  padding: 9px;
  background-color: #7fe0ff;
  font-weight: 900;
}
